.dash-Card{
    transition: all .2s ease-in-out;
    margin: 25px;
}
.dash-Card:hover{
    transform: scale(1.1);
}
.card-text{
    font-size: medium;
    
   
   
}
.mobile{
    display: none;
    font-size: 11pt;
}
a:visited{
    text-decoration: none !important;
}

.gallery-icon{
    display: block;
  margin-left: auto;
  margin-right: auto;
  height:400px;
  width:fit-content;

  }
.Carousel{
    height: 20%;
}

.contact-btn{
    margin-block-start: 50px;
    transition: all .2s ease-in-out;
   }
   .contact-btn:hover{
     transform: scale(1.2);
   }

  @media screen and (max-width: 1400px){

    .dash-spacer{
        display: none;
    }
  }
  @media screen and (max-width: 1200px){
  Button.contact-btn{
    display:none;
  }
}
@media screen and (max-width: 960px){
    .card-text{
        display:none
    }
    .mobile{
        display: inline-flex;
    }

   
}

