.modal {
    overflow-y: hidden;
    height: 100vh;
    
    
    
}

.modal-open {
    overflow: auto;
    
}

.modal-open[style] {
    padding-right: 0px !important;
    
}

.selected-image{
    /* max-width:100%;
    height: 60vh;
    padding:0px; */
    width:35vw;
    aspect-ratio: 3/2;
    object-fit: contain;

}
.lightbox-frame{
    display:flex;
    justify-content:center;
    height: 75dvh;
    
}

.flex-container{
    display:inherit;
    height: 80dvh;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 2%;
    align-items: center;
    width: 90%;
}
.lightbox-col{
    display: flex;
    height: 80dvh;
    align-items: center;
    cursor: pointer;
    width: 50%;
   
}
.right{
    justify-content: flex-end;
}
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}
@media screen  and (max-width: 600px) {
    .selected-image{
        width: 80dvw;
    }
    

}