.modal {
    overflow-y: auto;
    
    
}

.modal-open {
    overflow: auto;
   
}

.modal-open[style] {
    padding-right: 0px !important;
}

.selected-image{
    max-height: 100%;
}

Col.spacer{
    
    padding: 5% 30% 30% 0
    
}

Col{
    margin-block-end: 100%; 
}