
.headImg{
    max-height: 80%
}

.background{
    background-color: black;
   z-index: 5;
   position:relative;
   display: flex;
   justify-content: center;
   height: 80vh;

}

.deep-portfolio{
    background-color: black;
    height: 725dvh;
    width: 100%;
    z-index:-2;
    display: flex;
    flex-direction: column;
}
.desc-box{
    border: 2px solid #e60073;
    max-height: 100vh;
    width: 45vw;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 20%;
    box-shadow: 0 0 20px 8px #e60073;
    transition: all .2s ease-in-out;
}
.desc-box:hover{
    box-shadow: 0 0 30px 20px #e60073;
}

h3{
    font-family:monospace;
    color:#fff;
}

.left-curly{
    font-size: 150pt;
    float:left;
    position:fixed;
    top: 20vh;
    left: 10%;
    z-index: 0;
    text-shadow: 0 0 10px #fff, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;
}

.right-curly{
    font-size: 150pt;
    float:right;
    position:fixed;
    top: 20vh;
    right: 10%;
    z-index: 0;
    text-shadow: 0 0 10px #fff, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;
}
.base-blocker{
    width:100%;
    height: 200px;
    position: relative;
    bottom:70%;
    z-index: 200;
    background-color: black;
}

 
 .animated {
    animation: MoveUpDown 1500ms linear infinite;
    
    position: absolute;
    top: 80%;
   width: 120px;
    margin:auto;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

.info{
    margin-block-start: -5%;
    word-break:normal;
    width:60%;
   
}
.info p{
    margin-left: 10%;
    line-height: 2;
    margin-block-start: -15%;
    margin-bottom: 3rem;
}

.launch-repos{
    margin-bottom: 30px;
    margin-inline-start: 50%;
}

@media screen and (max-width: 800px) {
    .background{
        margin-right: 0%;
    margin-left: 0%;
    }

        .base-blocker{
            display:none;
        }


}

.mobile{
    display: none;
}


@media screen and (max-width: 1500px) {
   .desktop{
    display: none ;
   }
   .desc-box{
    margin-top: 15%;
   }
   .mobile{
    display: block; 
        .card-img, .card-img-bottom, .card-img-top {
            height: 20vh;
            min-height: 30%; 
            width: 20vh;
            min-width: 30%; 
        } 
    }
   
    }

@media screen and (max-height: 700px){
    div.deep-portfolio{
        height: 900dvh
    }
}
@media screen and (max-height: 500px){
    div.deep-portfolio{
        height: 1200dvh;
    .desktop{
        display: none ;
        }
    .desc-box{
        margin-top: 15%;
        }
    .mobile{
        display: block; 
        .card-img, .card-img-bottom, .card-img-top {
                height: 20vh;
                min-height: 30%; 
                width: 20vh;
                min-width: 30%; 
            } 
        }
    }
}


.card{
    align-items: center;
    text-align: center;
}